body {
  background-color: black;
  color: white;
}
.heading {
  text-align: center;
  font-size: 50px;
  width: 300px;
  margin: auto;
  border-bottom: red 1px solid;
  margin-top: 50px;
}
p {
  font-size: 20px;
}
