.heading {
  text-align: center;
  font-size: 50px;
  margin: auto;
  border-bottom: rgb(30, 214, 13) 1px solid;
  margin-top: 50px;
}
p {
  font-size: 10px;
}
h2 {
  text-transform: capitalize;
  font-size: 30px;
  color: rgb(142, 13, 216);
}
